* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="radio"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15rem;
    border-color: gray;
}

button.add-product {
    float:right;
}

.col {
    border: 1px solid gray;
    border-collapse: collapse;
    justify-content: center;
}

div.ip {
    border: none;
}

div.new-prd-btn .container .row .col, div.get-prd-color .container .row .col {
    border: none;
    padding: 0;
}

div.p-name, div.p-color, div.del-p, .color {
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.row:not(:nth-child(1), :nth-child(even)) {
    background-color: lightyellow;
}

table tr:not(:nth-child(1), :nth-child(even)) {
    background-color: lightblue;
} 


